body {
	color: #333;
	font-family: sans-serif;
	margin: 50px auto;
	max-width: 720px;
}

h1, h2, h3, h4, h5, h6 {
	color: #666;
	text-align: center;
}

/*button {
	cursor: pointer;
	text-align: center;
	text-transform: lowercase;
}

button:hover {
	background: #666;
	color: #fff;
}*/